In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from matplotlib.offsetbox import OffsetImage, AnnotationBbox
import math
from sklearn.cluster import KMeans, AgglomerativeClustering
from scipy.cluster.hierarchy import dendrogram, linkage
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
import datetime

from sklearn.impute import KNNImputer

In [6]:
customers = pd.read_csv("customer_info.csv")

In [7]:
customers.drop(columns = ["Unnamed: 0", "customer_name", "customer_gender", "customer_birthdate"], inplace= True)

In [8]:
imputer = KNNImputer(n_neighbors=10)
customers_arr = imputer.fit_transform(customers)
customers_arr

array([[ 3.96340000e+04,  1.00000000e+00,  1.00000000e+00, ...,
         9.53920100e+05,  3.87356372e+01, -9.14907095e+00],
       [ 4.34600000e+04,  1.00000000e+00,  0.00000000e+00, ...,
         9.34763900e+05,  3.87627024e+01, -9.16080231e+00],
       [ 2.39370000e+04,  0.00000000e+00,  1.00000000e+00, ...,
         9.51127000e+05,  3.87174310e+01, -9.16510478e+00],
       ...,
       [ 2.13730000e+04,  0.00000000e+00,  0.00000000e+00, ...,
         9.51503400e+05,  3.87699234e+01, -9.18154967e+00],
       [ 1.95270000e+04,  1.00000000e+00,  0.00000000e+00, ...,
         9.33102000e+05,  3.87608891e+01, -9.17466310e+00],
       [ 5.12000000e+03,  2.00000000e+00,  0.00000000e+00, ...,
         9.16045000e+05,  3.87346531e+01, -9.17826006e+00]])

In [9]:
customers = pd.DataFrame(customers_arr, columns= customers.columns)

In [10]:
customers.set_index("customer_id", inplace = True)

In [13]:
dispersion = []
for k in range(1, 50):
    kmeans = KMeans(n_clusters=k, random_state=0).fit(customers)
    dispersion.append(kmeans.inertia_)

In [35]:
# Fitting a KMeans algorithm with 2 centroids and random state=0
kmeans = KMeans(n_clusters=2, random_state=0)

# Fitting the KMeans object to our data
kmeans.fit(customers)
# Predicting the clusters of our data point.
# In alternative, we could also use fit_predict directly
clusters = kmeans.predict(customers)

# Creating a color code to plot with our plot_clusters function
customers['clusters_opt_solution'] = np.where(
clusters == 1, 1, 0
    )

In [36]:
pd.DataFrame(clusters)

       0
0      1
1      0
2      1
3      1
4      1
...   ..
43626  1
43627  0
43628  1
43629  0
43630  0

[43631 rows x 1 columns]